$icon-size: 40px;
$base-z-index: 1000;
$transition-timing-function: linear;
$transition-duration: 0.4s;
$modal-padding: 15px;

.mt-net-form-modal {
  border-radius: $icon-size;
  text-align: center;
  line-height: $icon-size;
  width: $icon-size;
  height: $icon-size;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px 0px 3px;
  z-index: $base-z-index;
  background-color: #fff;

  display: flex;
  flex-direction: column;

  transition-property: width, height, border-radius, top, bottom, right, left;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;
}

.mt-net-form-modal--open {
  border-radius: 0;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  top: auto;
  bottom: 100px;
  left: auto;
  right: 100px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
  padding: $modal-padding 0;

  @media (max-width: 767.98px) {
    width: 100vw;
    right: 0;
  }
}

.mt-net-form-modal--open.mt-net-form-modal--animation {
  box-shadow: 0px 0px 3px;
}

.mt-net-form-modal__icon:before {
  content: " ";
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTQiIGhlaWdodD0iMTE0Ij4KPHBhdGggc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjciIGZpbGw9Im5vbmUiIGQ9Im03LDIwaDk4djcySDd6bDQ0LDQ0cTUsNCAxMCwwbDQ0LTQ0TTcsOTJsMzYtMzZtMjYsMCAzNiwzNiIvPgo8L3N2Zz4=");
  display: inline-block;
  background-size:contain;
  vertical-align:middle;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  margin-top: -3px;
}

.mt-net-form-modal--open .mt-net-form-modal__icon,
.mt-net-form-modal--animation .mt-net-form-modal__icon {
  display: none;
}

.mt-net-form-modal__iframe-container {
  flex-grow: 1;
  height: calc(100% - 10px - $modal-padding);

  @media (max-width: 767.98px) {
    padding: 0 10px;
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.mt-net-form-modal--open .mt-net-form-modal__iframe-container:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.mt-net-form-modal__close {
  position: absolute;
  line-height: 1.5rem;
  top: calc($modal-padding - 1px);
  right: 15px;
  display: none;

  transition-property: opacity;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;
}

.mt-net-form-modal--open .mt-net-form-modal__close {
  display: block;
  opacity: 1;
}

.mt-net-form-modal--animation .mt-net-form-modal__close {
  opacity: 0;
}

.mt-net-form-modal__close:before {
  content: " ";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NHB4IiBoZWlnaHQ9IjY0cHgiIHZpZXdCb3g9IjAgMCA2NCA2NCI+PGRlZnM+PHN0eWxlPi5we3N0cm9rZTojMDAwO3N0cm9rZS1taXRlcmxpbWl0OjEwO3N0cm9rZS13aWR0aDoycHg7ZmlsbDpub25lO308L3N0eWxlPjwvZGVmcz48Zz48Y2lyY2xlIGNsYXNzPSJwIiBjeD0iMzIiIGN5PSIzMiIgcj0iMzEiLz48bGluZSBjbGFzcz0icCIgeDE9IjIzIiB5MT0iMjMiIHgyPSI0MSIgeTI9IjQxIi8+PGxpbmUgY2xhc3M9InAiIHgxPSIyMyIgeTE9IjQxIiB4Mj0iNDEiIHkyPSIyMyIvPjwvZz48L3N2Zz4=");
  display: inline-block;
  background-size:contain;
  vertical-align:middle;
  width: calc(1.5rem * 0.9);
  height: calc(1.5rem * 0.9);
}

.mt-net-form-modal__header {
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 1.5rem;
  display: none;
  width: calc(100% - 80px);
  margin: auto;

  transition-property: opacity;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;
}

.mt-net-form-modal--open .mt-net-form-modal__header {
  display: block;
  opacity: 1;
}

.mt-net-form-modal--animation .mt-net-form-modal__header {
  opacity: 0;
}

.mt-net-form-modal__iframe {
  background-color: #fff;
  position: relative;
  z-index: calc($base-z-index + 5);
  height: 100%;
}

.mt-net-form-modal--open .mt-net-form-modal__iframe[height] {
  opacity: 1;
}

.mt-net-form-modal__iframe,
.mt-net-form-modal--animation .mt-net-form-modal__iframe,
.mt-net-form-modal--animation .mt-net-form-modal__iframe[height] {
  transition-property: opacity;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;
  opacity: 0;
}
